<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfk.ssms.mapper.TbGoodsSourceMapper">

    <resultMap id="BaseResultMap" type="com.zfk.ssms.domain.TbGoodsSource">
            <id property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsPrice" column="goods_price" jdbcType="DECIMAL"/>
            <result property="providerId" column="provider_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        goods_id,goods_name,goods_price,
        provider_id
    </sql>
</mapper>
