<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfk.ssms.mapper.TbUserMapper">

    <resultMap id="BaseResultMap" type="com.zfk.ssms.domain.TbUser">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,password,user_name,
        sex,phone_number
    </sql>
</mapper>
