<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品分类管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
<div id="app">
    <div style="padding: 20px;">
        <div class="title">
            <span>商品分类</span>
        </div>

        <el-button style="margin-top: 30px" type="primary" icon="el-icon-plus" @click="dialogFormVisible = true">
            新增商品分类
        </el-button>
        <el-table :data="groups" :border="true" class="table">
            <el-table-column prop="groupId" label="分类编号"></el-table-column>
            <el-table-column prop="groupName" label="分类"></el-table-column>
            <el-table-column prop="groupPhoto" label="图片">
                <template slot-scope="scope">
                    <img :src="scope.row.groupPhoto" width="80px" height="80px"/>
                </template>
            </el-table-column>
            <el-table-column prop="operation" label="操作" width="300px">
                <template slot-scope="scope">
                    <el-button type="primary" icon="el-icon-edit" @click="handleClick(scope.row)">修改分类</el-button>
                    <el-button type="danger" icon="el-icon-delete" @click="cancelGroup(scope.row)">删除分类</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-row>
            <el-col :span="24" style="text-align: right;margin-top:50px;">
                <el-pagination
                        :page-size="4"
                        :page-count="2"
                        background
                        layout="prev, pager, next"
                        :total="11">
                </el-pagination>
            </el-col>
        </el-row>
    </div>

    <el-dialog title="新增商品分类" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="分类编号" :label-width="formLabelWidth">
                <el-input v-model="form.groupId" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="分类" :label-width="formLabelWidth">
                <el-input v-model="form.groupName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="图片" :label-width="formLabelWidth">
                <el-upload
                        class="upload-demo"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :before-remove="beforeRemove"
                        multiple
                        :limit="3"
                        :on-exceed="handleExceed"
                        :file-list="fileList">
                    <el-button size="small" type="primary">点击上传</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleGroupAdd">确 定</el-button>
        </div>
    </el-dialog>
</div>

</body>
<script src="./vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="./element-ui/index.js"></script>
<script src="./axios/axios.min.js"></script>
<script src="./utils/request.js"></script>
<script src="api/group.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {

                fileList: [{
                    name: 'food.jpeg',
                    url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'},
                    {name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}],
                groups: [

                ],
                dialogFormVisible: false,
                form: {
                    groupId: '',
                    groupName: '',
                    groupPhoto: '',
                },
                formLabelWidth: '120px',
            }
        },
        methods: {

            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            getGroups() {
                getGroups().then(response => {
                    this.groups = response.data;
                })
            },

            cancelGroup(row) {
                this.$confirm('确认删除该分类吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    deleteGroup(row.groupId).then(response => {
                        this.getGroups();
                    })
                }).catch(() => {
                    // 取消删除操作
                    this.$message.info('已取消删除')
                })
            },
            handleGroupAdd(){
                addGroup(this.form).then(response => {
                    this.getGroups();
                    this.dialogFormVisible = false;
                })
            },
        },
        mounted() {
            this.getGroups();
        },
    });
</script>
<style lang="less">
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #app {
        height: 100%;
        width: 100%;
    }

    .table {
        margin-top: 60px;
    }

    .title {
        font-size: 25px;
        margin-top: 50px;
    }


</style>
</html>
