<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主菜单</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
<div id="app">
    <el-container class="container" >

        <el-header>
            <div class="title">
                <span>智慧超市管理系统</span>
            </div>

            <div class="user-info">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>查看</el-dropdown-item>
                        <el-dropdown-item>新增</el-dropdown-item>
                        <el-dropdown-item>删除</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>王小虎</span>
            </div>

        </el-header>

        <el-container>

            <el-aside width="250px">
                <el-menu
                         background-color="#545c64"
                         text-color="#fff"
                         :default-active="defaultActive"
                         active-text-color="#ffd04b"
                >
                    <el-menu-item v-for="item in menuList" :index="item.index" @click="changeMain(item.path,item.index)" v-if="item.dashboard">
                        <template slot="title"><i :class="item.icon" ></i>{{item.name}}</template>
                    </el-menu-item>
                    <el-submenu v-for="item in menuList" :index="item.index" v-if="!item.dashboard">
                        <template slot="title"><i :class="item.icon"></i>{{item.name}}</template>
                        <el-menu-item v-for="subItem in item.children" :index="subItem.index" @click="changeMain(subItem.path,subItem.index)">{{subItem.name}}</el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>
                <el-breadcrumb separator="/" style="margin-top: 20px;margin-left:20px;" v-for="(item,index) in menuList" v-if="showBreadCrumb(item)">
                    <el-breadcrumb-item v-if="!item.dashboard"><a @click="changeMain('/dashboard.html','1')">主页</a></el-breadcrumb-item>
                    <el-breadcrumb-item v-if="!item.dashboard"><a @click="changeMain(item.children[0].path,item.children[0].index)">{{item.name}}</a></el-breadcrumb-item>
                    <el-breadcrumb-item v-if="!item.dashboard">{{getCurrentName(item)}}</el-breadcrumb-item>
                </el-breadcrumb>
                <iframe ref="frame" :src="mainHtml" frameborder="0" width="100%" height="100%"></iframe>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="./vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="./element-ui/index.js"></script>
<script src="./axios/axios.min.js"></script>


<script>
    new Vue({
        el:'#app',
        data(){
            return {
                mainHtml: '/dashboard.html',
                defaultActive: '1',
                menuList:[
                    {
                        index: '1',
                        name: 'dashboard',
                        path: '/dashboard.html',
                        icon: 'el-icon-menu',
                        dashboard: true
                    },
                    {
                        index: '2',
                        name: '商品管理',
                        icon: 'el-icon-goods',
                        children: [
                            {
                                index: '2-1',
                                name: '商品信息维护',
                                path: '/goodsList.html'
                            },
                            {
                                index: '2-2',
                                name: '商品分类管理',
                                path: '/goodsGroup.html'
                            },
                            {
                                index: '2-3',
                                name: '供应商管理',
                                path: '/provider.html'
                            },
                            {
                                index: '2-4',
                                name: '商品进货管理',
                                path: '/purchase.html'
                            }
                        ]
                    },
                    {
                        index: '3',
                        name: '订单管理',
                        icon: 'el-icon-s-order',
                        children: [
                            {
                                index: '3-1',
                                name: '订单查询',
                                path: '/order.html'
                            },
                            {
                                index: '3-2',
                                name: '发货管理',
                                path: '/shipped.html'
                            },
                            {
                                index: '3-3',
                                name: '退货管理',
                                path: '/returnGoods.html'
                            }
                        ]
                    },
                    {
                        index: '4',
                        name: '用户管理',
                        icon: 'el-icon-user',
                        children: [
                            {
                                index: '4-1',
                                name: '用户信息管理',
                                path: '/user.html'
                            }
                        ]
                    },
                    {
                        index: '5',
                        name: '销售统计',
                        icon: 'el-icon-sell',
                        children: [
                            {
                                index: '5-1',
                                name: '商品销售统计',
                                path: '/productSales.html'
                            },
                            {
                                index: '5-2',
                                name: '时段销售统计',
                                path: '/periodicSales.html'
                            },
                            {
                                index: '5-3',
                                name: '顾客消费统计',
                                path: '/customerSpending.html'
                            }
                        ]
                    }
                ]
            }
        },
        methods:{
            changeMain(url){
                this.mainHtml = url;
            },
            changeMain(url,index){
                this.mainHtml = url;
                console.log(index);
                this.defaultActive = index;
            },
            add(){
                this.$message({
                    message: '添加成功',
                    type: 'success'
                });
            },
            onSubmit(){
                this.$message({
                    message: '提交成功',
                    type: 'success'
                });
            },
            showBreadCrumb(item){
                if(item.dashboard){
                    return true;
                }
                for(let i = 0;i < item.children.length;i++){
                    if(item.children[i].path == this.mainHtml){
                        return true;
                    }
                }
                return false;
            },
            getCurrentName(item){
                for(let i = 0;i < item.children.length;i++){
                    if(item.children[i].path == this.mainHtml){
                        return item.children[i].name;
                    }
                }
            },

        },
        created(){
            if(localStorage.getItem('loginMessage') != null){
                this.$message({
                    message: localStorage.getItem('loginMessage'),
                    type: 'success'
                });
                localStorage.removeItem('loginMessage');
            }

        }
    });
</script>
<style>
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #app{
        height: 100%;
        width: 100%;
    }
    .el-main{
        padding: 0;
    }
    .user-info{
        margin-right: 20px;
        text-align: right;
        font-size: 15px;
    }
    .el-header {
        background-color: #909399;
        color: #333;
        line-height: 60px;
        height: 60px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 5px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0;
    }
    .title{
        width: 249px;
        background-color: #b2bfd0;
        text-align: center;
    }

    .container{
        height: 100%;
        width: 100%;
        border: 1px solid #eee;
    }
    .el-aside{
        background-color: #545c64;
        height: 900px;
    }

    .el-menu{
        background-color: #545c64;
    }
</style>
</html>