<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>供应商管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
    <div id="app">
        <div style="padding: 20px;">
        <div class="title">
            <span>供应商详情</span>
        </div>

        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="联系电话：">
                <el-input v-model="formInline.contactPhone" placeholder="请输入联系电话"></el-input>
            </el-form-item>
            <el-form-item style="margin-left: 20px">
                <el-button  type="success" icon="el-icon-search" @click="getProvider" >开始查找</el-button>
                <el-button  type="primary" icon="el-icon-plus" @click="providerAddVisible = true">新增供应商</el-button>
            </el-form-item>
        </el-form>

        <el-table :data="providers" :border="true" class="table" >
            <el-table-column prop="providerId" label="供应商编号" type="index" width="80px"></el-table-column>
            <el-table-column prop="providerName" label="供应商名称"></el-table-column>
            <el-table-column prop="providerAddress" label="供应商地址"></el-table-column>
            <el-table-column prop="contactPhone" label="联系电话"></el-table-column>
            <el-table-column prop="operation" label="操作" width="450px">
                <template slot-scope="scope">
                    <el-button type="info" style="width: 120px" icon="el-icon-document">供货信息</el-button>
                    <el-button type="primary" style="width: 120px"  icon="el-icon-edit" @click="handleUpdate(scope.row)">修改</el-button>
                    <el-button type="danger" style="width: 120px" icon="el-icon-delete" @click="cancelProvider(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-row>
            <el-col :span="24" style="text-align: right;margin-top:50px;">
                <el-pagination
                        :page-size="5"
                        :page-count="2"
                        background
                        layout="prev, pager, next"
                        :total="7">
                </el-pagination>
            </el-col>
        </el-row>
    </div>

        <el-dialog title="新增供应商" :visible.sync="providerAddVisible" >
            <el-form :model="form" ref="form">
                <el-form-item label="供应商编号" :label-width="formLabelWidth" prop="providerId">
                    <el-input v-model="form.providerId" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="供应商名称" :label-width="formLabelWidth" prop="providerName">
                    <el-input v-model="form.providerName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="供应商地址" :label-width="formLabelWidth" prop="providerAddress">
                    <el-input v-model="form.providerAddress" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="联系电话" :label-width="formLabelWidth" prop="contactPhone">
                    <el-input v-model="form.contactPhone" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="providerAddVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleProviderAdd">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="修改" :visible.sync="providerUpdateVisible" >
            <el-form :model="formIn">
                <el-form-item label="供应商编号" :label-width="formLabelWidth">
                    <el-input v-model="formIn.providerId" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="供应商名称" :label-width="formLabelWidth">
                    <el-input v-model="formIn.providerName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="供应商地址" :label-width="formLabelWidth">
                    <el-input v-model="formIn.providerAddress" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="联系电话" :label-width="formLabelWidth">
                    <el-input v-model="formIn.contactPhone" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="providerUpdateVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleProviderUpdate">确 定</el-button>
            </div>
        </el-dialog>
    </div>

</body>
<script src="./vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="./element-ui/index.js"></script>
<script src="./axios/axios.min.js"></script>
<script src="./utils/request.js"></script>
<script src="api/provider.js"></script>

<script>
    new Vue({
        el:'#app',
        data(){
            return {
                formInline: {
                    providerId: '',
                    providerName: '',
                    providerAddress: '',
                    contactPhone: '',
                },
                providers: [],
                providerAddVisible: false,
                providerUpdateVisible: false,
                form: {
                    providerId: '',
                    providerName: '',
                    providerAddress: '',
                    contactPhone: '',
                },
                formIn: {
                    providerId: '',
                    providerName: '',
                    providerAddress: '',
                    contactPhone: '',
                },
                formLabelWidth: '120px'
            }
        },
        methods:{

            getProvider(){
                getProvider(this.formInline).then(response => {
                    console.log(response.data);
                    this.providers = response.data;
                })
            },
            getProviders() {
                getProviders().then(response => {
                    this.providers = response.data;
                })
            },
            cancelProvider(row){
                this.$confirm('确认删除该供应商吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    deleteProvider(row.providerId).then(response => {
                        this.getProviders();
                    })
                }).catch(() => {
                    // 取消删除操作
                    this.$message.info('已取消删除')
                })
            },
            handleProviderAdd(){
                addProvider(this.form).then(response => {
                    this.getProviders();
                    this.providerAddVisible = false;
                })
                this.$refs['form'].resetFields();
            },

            handleProviderUpdate(){
                updateProvider(this.formIn).then(response => {
                    getProviders().then(response => {
                    this.providers = response.data;
                    this.providerUpdateVisible = false;
                    })
                })
            },

            handleUpdate(row){
                this.providerUpdateVisible = true;
                getProviderById(row.providerId).then(response => {
                    console.log(response.data);
                    this.formIn = response.data;
                })
            }
        },
        created() {
            this.getProviders();
        },
    });
</script>
<style lang="less">
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #app{
        height: 100%;
        width: 100%;
    }

    .table{
        margin-top: 20px;
    }

    .title{
        font-size: 25px;
        margin-top: 50px;
    }

    .demo-form-inline{
        margin-top: 20px;
    }

</style>
</html>