<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品进货管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
<div id="app">
    <div style="padding: 20px;">
    <div class="title">
        <span>商品进货管理</span>
    </div>

    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="采购编号：">
            <el-input v-model="formInline.purchaseId" placeholder="请输入采购编号"></el-input>
        </el-form-item>
        <el-form-item label="供应商名称：">
            <el-input v-model="formInline.providerName" placeholder="请输入供应商名称"></el-input>
        </el-form-item>
        <el-form-item label="商品名称：">
            <el-input v-model="formInline.productName" placeholder="请输入商品名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button  type="success" icon="el-icon-search" @click="getPurchase">开始查找</el-button>
        </el-form-item>
    </el-form>

    <el-table :data="purchases" :border="true" class="table" >
        <el-table-column prop="purchaseId" label="采购编号" type="index" width="80px"></el-table-column>
        <el-table-column prop="productName" label="商品名称"></el-table-column>
        <el-table-column prop="providerName" label="供应商名称"></el-table-column>
        <el-table-column prop="goodsPrice" label="进货价格"></el-table-column>
        <el-table-column prop="purchaseCount" label="采购数量"></el-table-column>
        <el-table-column prop="purchaseTime" label="采购时间"></el-table-column>
        <el-table-column prop="operation" label="操作" width="450px">
            <template slot-scope="scope">
                <el-button type="primary" style="width: 120px"  icon="el-icon-edit" @click="handleUpdate(scope.row)">修改</el-button>
                <el-button type="danger" style="width: 120px" icon="el-icon-delete" @click="cancelPurchase(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row>
        <el-col :span="24" style="text-align: right;margin-top:50px;">
            <el-pagination
                    :page-size="7"
                    :page-count="3"
                    background
                    layout="prev, pager, next"
                    :total="15">
            </el-pagination>
        </el-col>
    </el-row>
</div>

    <el-dialog title="修改" :visible.sync="purchaseUpdateVisible" >
        <el-form :model="formIn">
            <el-form-item label="供应商名称" :label-width="formLabelWidth" prop="providerName">
                <el-select v-model="formIn.providerId" placeholder="全部" @change="handleChange">
                    <el-option v-for="item in optionsProvider" :key="item.providerId" :label="item.providerName"
                               :value="item.providerId"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="商品名称" :label-width="formLabelWidth" prop="productName">
                <el-select v-model.number="formIn.productId" placeholder="全部">
                    <el-option v-for="item in optionsProduct" :key="item.goodsId" :label="item.goodsName"
                               :value="item.goodsId"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="进货价格" :label-width="formLabelWidth">
                <el-input v-model="formIn.goodsPrice " autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="采购数量" :label-width="formLabelWidth">
                <el-input v-model="formIn.purchaseCount" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="采购时间" :label-width="formLabelWidth">
                <div class="block">
                    <el-date-picker
                            v-model="formIn.purchaseTime"
                            type="datetime"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            placeholder="选择日期时间">
                    </el-date-picker>
                </div>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="purchaseUpdateVisible = false">取 消</el-button>
            <el-button type="primary" @click="handlePurchaseUpdate">确 定</el-button>
        </div>
    </el-dialog>
    </div>
</body>

<script src="./vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="./element-ui/index.js"></script>
<script src="./axios/axios.min.js"></script>
<script src="./utils/request.js"></script>
<script src="api/purchase.js"></script>
<script src="api/product.js"></script>
<script src="api/provider.js"></script>
<script src="api/group.js"></script>
<script src="api/goodsSource.js"></script>

<script>
    new Vue({
        el:'#app',
        data(){
            return {
                input: "",
                formInline: {
                    purchaseId: '',
                    productName: '',
                    providerName: '',
                    goodsPrice: '',
                    purchaseCount: '',
                    purchaseTime: '',


                },
                purchases: [

                ],
                purchaseUpdateVisible: false,
                formIn: {
                    purchaseId: '',
                    productName: '',
                    providerName: '',
                    goodsPrice: '',
                    purchaseCount: '',
                    purchaseTime: '',
                },
                formLabelWidth: '120px',
                optionsProduct: [],
                optionsProvider: [],
            }
        },
        methods:{

            getPurchase(){
                getPurchase(this.formInline).then(response => {
                    console.log(response.data);
                    this.purchases = response.data;
                })
            },

            getPurchases(){
                getPurchases().then(response => {
                    this.purchases = response.data;
                })
            },

            getProducts(){
                getProducts().then(response => {
                    this.optionsProduct = response.data;
                })
            },

            getProviders(){
                getProviders().then(response => {
                    this.optionsProvider = response.data;
                })
            },

            cancelPurchase(row){
                this.$confirm('确认删除该采购订单吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    deletePurchase(row.purchaseId).then(response => {
                        this.getPurchases();
                    })
                }).catch(() => {
                    // 取消删除操作
                    this.$message.info('已取消删除')
                })
            },

            handlePurchaseUpdate(){
                updatePurchase(this.formIn).then(response => {
                    getPurchases().then(response => {
                        this.purchases = response.data;
                        this.purchaseUpdateVisible = false;
                    })
                })
            },

            handleUpdate(row){
                this.getGoodsSources(row.providerId);
                this.purchaseUpdateVisible = true;
                getPurchaseById(row.purchaseId).then(response => {
                    console.log(response.data);
                    this.formIn = response.data;
                    this.formIn.purchaseId=parseInt(this.formIn.purchaseId);
                })
            },
            handleChange(id){
                this.getGoodsSources(id);
            },
        },
        created(){
            this.getPurchases();
            this.getProducts();
            this.getProviders();
        },
    });
</script>
<style lang="less">
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #app{
        height: 100%;
        width: 100%;
    }

    .table{
        margin-top: 20px;
    }

    .title{
        font-size: 25px;
        margin-top: 50px;
    }

    .demo-form-inline{
        margin-top: 20px;
    }

</style>
</html>