<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品进货管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
<div id="app">
    <div style="padding: 20px;">
    <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">主页</el-breadcrumb-item>
        <el-breadcrumb-item><a href="/">商品管理</a></el-breadcrumb-item>
        <el-breadcrumb-item>商品进货管理</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="title">
        <span>商品进货管理</span>
    </div>

    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="采购编号：">
            <el-input v-model="formInline.purchaseId" placeholder="请输入采购编号"></el-input>
        </el-form-item>
        <el-form-item label="供应商编号：">
            <el-input v-model="formInline.providerId" placeholder="请输入供应商编号"></el-input>
        </el-form-item>
        <el-form-item label="商品编号：">
            <el-input v-model="formInline.productId" placeholder="请输入商品编号"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button  type="success" icon="el-icon-search" @click="onSubmit">开始查找</el-button>
            <el-button  type="primary" icon="el-icon-plus" @click="dialogFormVisible = true">新增采购订单</el-button>

        </el-form-item>
    </el-form>

    <el-table :data="products" :border="true" class="table" >
        <el-table-column prop="purchaseId" label="采购编号"></el-table-column>
        <el-table-column prop="productId" label="商品编号"></el-table-column>
        <el-table-column prop="providerId" label="供应商编号"></el-table-column>
        <el-table-column prop="purchasePrice" label="进货价格"></el-table-column>
        <el-table-column prop="purchaseCount" label="采购数量"></el-table-column>
        <el-table-column prop="purchaseTime" label="采购时间"></el-table-column>
        <el-table-column prop="operation" label="操作" width="450px">
            <template slot-scope="scope">
                <el-button type="info" style="width: 120px" icon="el-icon-document" @click="handleClick(scope.row)">采购信息</el-button>
                <el-button type="primary" style="width: 120px"  icon="el-icon-edit" @click="handleClick(scope.row)">修改</el-button>
                <el-button type="danger" style="width: 120px" icon="el-icon-delete" @click="handleClick(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row>
        <el-col :span="24" style="text-align: right;margin-top:50px;">
            <el-pagination
                    :page-size="7"
                    :page-count="3"
                    background
                    layout="prev, pager, next"
                    :total="15">
            </el-pagination>
        </el-col>
    </el-row>
</div>

    <el-dialog title="新增采购订单" :visible.sync="dialogFormVisible" >
        <el-form :model="form">
            <el-form-item label="采购编号" :label-width="formLabelWidth">
                <el-input v-model="form.purchaseId" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品编号" :label-width="formLabelWidth">
                <el-input v-model="form.productId" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="供应商编号" :label-width="formLabelWidth">
                <el-input v-model="form.providerId" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="进货价格" :label-width="formLabelWidth">
                <el-input v-model="form.purchasePrice " autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="采购数量" :label-width="formLabelWidth">
                <el-input v-model="form.purchaseCount" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="采购时间" :label-width="formLabelWidth">
                <el-input v-model="form.purchaseTime" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
        </div>
    </el-dialog>
    </div>
</body>

<script src="./vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="./element-ui/index.js"></script>
<script src="./axios/axios.min.js"></script>

<script>
    new Vue({
        el:'#app',
        data(){
            return {
                input: "",
                formInline: {
                    purchaseId: '',
                    productId: '',
                    providerId: '',
                    purchasePrice: '',
                    purchaseCount: '',
                    purchaseTime: '',


                },
                products: [
                    {
                        purchaseId: 1,
                        productId: 1,
                        providerId: 1,
                        purchasePrice: 50,
                        purchaseCount: 100,
                        purchaseTime: '2020-01-01 12:00',
                    },
                    {
                        purchaseId: 2,
                        productId: 2,
                        providerId: 2,
                        purchasePrice: 50,
                        purchaseCount: 100,
                        purchaseTime: '2020-01-01 12:00',
                    },
                    {
                        purchaseId: 3,
                        productId: 3,
                        providerId: 3,
                        purchasePrice: 50,
                        purchaseCount: 100,
                        purchaseTime: '2020-01-01 12:00',
                    },
                    {
                        purchaseId: 4,
                        productId: 4,
                        providerId: 4,
                        purchasePrice: 50,
                        purchaseCount: 100,
                        purchaseTime: '2020-01-01 12:00',
                    },
                    {
                        purchaseId: 5,
                        productId: 5,
                        providerId: 5,
                        purchasePrice: 50,
                        purchaseCount: 100,
                        purchaseTime: '2020-01-01 12:00',
                    },
                    {
                        purchaseId: 6,
                        productId: 6,
                        providerId: 6,
                        purchasePrice: 50,
                        purchaseCount: 100,
                        purchaseTime: '2020-01-01 12:00',
                    },
                    {
                        purchaseId: 7,
                        productId: 7,
                        providerId: 7,
                        purchasePrice: 50,
                        purchaseCount: 100,
                        purchaseTime: '2020-01-01 12:00',
                    },
                ],
                dialogFormVisible: false,
                form: {
                    purchaseId: '',
                    productId: '',
                    providerId: '',
                    purchasePrice: '',
                    purchaseCount: '',
                    purchaseTime: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: '120px'
            }
        },
        methods:{
            onClear() {
                this.keyword = "";
            },
            plus(){

            },
            onsubmit(){

            },
            add(){
                window.location.href = "addPurchase.html";
            }
        }
    });
</script>
<style lang="less">
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #app{
        height: 100%;
        width: 100%;
    }

    .table{
        margin-top: 20px;
    }

    .title{
        font-size: 25px;
        margin-top: 50px;
    }

    .demo-form-inline{
        margin-top: 20px;
    }

</style>
</html>