<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./element-ui/index.css">
</head>
<body>
    <div id="app">
        <div style="padding: 20px;">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">主页</el-breadcrumb-item>
            <el-breadcrumb-item><a href="/">用户管理</a></el-breadcrumb-item>
            <el-breadcrumb-item>用户信息管理</el-breadcrumb-item>
        </el-breadcrumb>
        <div class="title">
            <span>用户信息管理</span>
        </div>
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="用户姓名：">
                <el-input v-model="formInline.userName" placeholder="请输入用户姓名"></el-input>
            </el-form-item>
            <el-form-item style="margin-left: 20px">
                <el-button  type="success" icon="el-icon-search">开始查找</el-button>
                <el-button  type="primary" icon="el-icon-plus" @click="dialogFormVisible = true">新增用户</el-button>
            </el-form-item>
        </el-form>

        <el-table :data="users" :border="true" class="table" >
            <el-table-column prop="userId" label="用户编号"></el-table-column>
            <el-table-column prop="userName" label="用户姓名"></el-table-column>
            <el-table-column prop="password" label="密码"></el-table-column>
            <el-table-column prop="phoneNumber" label="联系电话"></el-table-column>
            <el-table-column prop="sex" label="性别"></el-table-column>
            <el-table-column prop="operation" label="操作" width="450px">
                <template slot-scope="scope">
                    <el-button type="primary" style="width: 120px"  icon="el-icon-edit" @click="handleClick(scope.row)">修改信息</el-button>
                    <el-button type="info" style="width: 120px" icon="el-icon-edit" @click="handleClick(scope.row)">修改密码</el-button>
                    <el-button type="danger" style="width: 120px" icon="el-icon-delete" @click="cancelUser(scope.row)">删除用户</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-row>
            <el-col :span="24" style="text-align: right;margin-top:50px;">
                <el-pagination
                        :page-size="8"
                        :page-count="1"
                        background
                        layout="prev, pager, next"
                        :total="8">
                </el-pagination>
            </el-col>
        </el-row>
    </div>
        <el-dialog title="新增用户" :visible.sync="dialogFormVisible" >
            <el-form :model="form">
                <el-form-item label="用户编号" :label-width="formLabelWidth">
                    <el-input v-model="form.userId" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="用户姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.userName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="form.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="联系电话" :label-width="formLabelWidth">
                    <el-input v-model="form.phoneNumber" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-input v-model="form.sex" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleUserAdd">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>

<script src="./vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="./element-ui/index.js"></script>
<script src="./axios/axios.min.js"></script>
<script src="./utils/request.js"></script>
<script src="api/user.js"></script>

<script>
    new Vue({
        el:'#app',
        data(){
            return {
                input: "",
                formInline: {
                    userName: '',
                },
                users: [

                ],
                dialogFormVisible: false,
                form: {
                    userId: '',
                    userName: '',
                    password: '',
                    phoneNumber: '',
                    sex: '',
                },
                formLabelWidth: '120px'
            }
        },
        methods:{
            getUsers(){
                getUsers().then(response => {
                    this.users = response.data;
                })
            },

            cancelUser(row){
                this.$confirm('确认删除该用户吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    deleteUser(row.userId).then(response => {
                        this.getUsers();
                    })
                }).catch(() => {
                    // 取消删除操作
                    this.$message.info('已取消删除')
                })
            },

            handleUserAdd(){
                addUser(this.form).then(response => {
                    this.getUsers();
                    this.dialogFormVisible = false;
                })
            },
        },
        mounted(){
            this.getUsers();
        }
    });
</script>
<style lang="less">
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #app{
        height: 100%;
        width: 100%;
    }

    .table{
        margin-top: 20px;
    }

    .title{
        font-size: 25px;
        margin-top: 50px;
    }

    .demo-form-inline{
        margin-top: 20px;
    }

</style>
</html>